doctype html
html(lang="en-au")
    head
        meta(charset="utf-8")
        block css
        Title Home
    body(class=(body_class || "it-did-not-work"))
        block header
        block content
        block footer
