extends layout

block layout-content

    head
        title The Pending Book Library
    body
        section 
            h1 Recommended Book Of The Week 
            //img(src="Pug/images/BookOfTheWeek.jpeg", alt="What Moves The Dead")
        aside 
            h1 Information About Book 
            p Gener: Horror 
            p Author: T. Kingfisher 
            p Good Reads Rating: 3./5
            h1 Prices 
            p Amazon: 14.99 USD 
            p Barns and Noble: 17.99 USD 

