doctype html 
html 
    head 
        title Library
        link(src="WEBcumbers/mainCSS.css")
        link (rel="preconnect" href="https://fonts.googleapis.com")
        link (rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link (href="https://fonts.googleapis.com/css2?family=Henny+Penny&family=Irish+Grover&display=swap" rel="stylesheet")
    body 
        header 
            nav 
                 a(href='/')
                    img(src='https://static.vecteezy.com/system/resources/previews/025/065/804/original/magical-book-with-glitter-exploding-from-the-pages-generative-ai-free-photo.jpg%22%3E', alt='Library Logo');
                h1 The Pending Book Library
                a(href="/login") Login 
                a(href="/register") Register
                a(href="/profile") Profile
        section(class="content")
            block layout-content
    footer 
        p © 2023, webCumber co.
