extends layout

block layout-content
    head 
        
        title Profile 
    body 
        h1 Book List
        input#pugInput(type="text" placeholder="Enter Book")
        button#addButton add to list 
        ul#pugList
            
    footer Copyright WEBcumber © 2023
